@import 'tailwindcss';

@theme {
  --font-heading: Tinos, serif;
  --font-body: Montserrat, sans-serif;

  /* Primary Colors */
  --color-primary: #95a834;
  --color-primary-2: #a54427;

  /* Secondary Colors */
  --color-secondary: #b45220;
  --color-secondary-2: #545418;

  /* Tertiary Colors */
  --color-tertiary: #fff8f5;
  --color-tertiary-2: #fff4df;

  /* TEXT */
  --color-text: #292929;

  /* GOLD */
  --color-gold: #b58b42;

  /* Radius */
  --radius-4xl: 2rem;
}

.container {
  width: 100%;
  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 72rem /* 1280px */) {
    max-width: 72rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }
}
